## Import The Libraries

In [ ]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

### Create A Spark Session

In [3]:
spark=SparkSession.builder.appName('DateFrame').getOrCreate()

In [4]:
spark

### reading data set

In [5]:
data=spark.read.option('header','true').csv(r"C:\Users\Dell\Desktop\Pyspark....csv",inferSchema=True)

In [6]:
data.show()

+-----------+---+----------+
|       Name|Age|Experience|
+-----------+---+----------+
|   Dr.Tariq| 50|      25.0|
| Umair khan| 23|       1.0|
|Farooq Niaz| 25|       1.0|
| Atta ullah| 24|       1.0|
|Nasir Jamal| 34|       9.0|
|      Bilal| 36|       5.0|
|Hamza Saeed| 16|       0.4|
+-----------+---+----------+

### checking types of schema

In [7]:
data.printSchema() # BEFORE INFERSCHEMA = TRUE, THE DATA TYPE WAS SAME.

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: double (nullable = true)

In [8]:
type(data)

pyspark.sql.dataframe.DataFrame

In [9]:
data.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'double')]

In [10]:
data.tail(3)

[Row(Name='Nasir Jamal', Age=34, Experience=9.0),
 Row(Name='Bilal', Age=36, Experience=5.0),
 Row(Name='Hamza Saeed', Age=16, Experience=0.4)]

### Selecting Columns and Indexing

In [11]:
data.select(['Name','Age']).show()

+-----------+---+
|       Name|Age|
+-----------+---+
|   Dr.Tariq| 50|
| Umair khan| 23|
|Farooq Niaz| 25|
| Atta ullah| 24|
|Nasir Jamal| 34|
|      Bilal| 36|
|Hamza Saeed| 16|
+-----------+---+

### Checking Describe Option similar to Pandas

In [12]:
data.describe().show()

+-------+----------+------------------+-----------------+
|summary|      Name|               Age|       Experience|
+-------+----------+------------------+-----------------+
|  count|         7|                 7|                7|
|   mean|      NULL|29.714285714285715|6.057142857142857|
| stddev|      NULL|11.235572759681423|8.919427698916028|
|    min|Atta ullah|                16|              0.4|
|    max|Umair khan|                50|             25.0|
+-------+----------+------------------+-----------------+

### Adding and Droping Columns

In [13]:
#adding columns in dataframe
data = data.withColumn('Age after 2 years',data['Age']+2)

In [15]:
data.show()

+-----------+---+----------+-----------------+
|       Name|Age|Experience|Age after 2 years|
+-----------+---+----------+-----------------+
|   Dr.Tariq| 50|      25.0|               52|
| Umair khan| 23|       1.0|               25|
|Farooq Niaz| 25|       1.0|               27|
| Atta ullah| 24|       1.0|               26|
|Nasir Jamal| 34|       9.0|               36|
|      Bilal| 36|       5.0|               38|
|Hamza Saeed| 16|       0.4|               18|
+-----------+---+----------+-----------------+

In [17]:
#Drop column
after_drop=data.drop('Age')

In [19]:
after_drop.show()

+-----------+----------+-----------------+
|       Name|Experience|Age after 2 years|
+-----------+----------+-----------------+
|   Dr.Tariq|      25.0|               52|
| Umair khan|       1.0|               25|
|Farooq Niaz|       1.0|               27|
| Atta ullah|       1.0|               26|
|Nasir Jamal|       9.0|               36|
|      Bilal|       5.0|               38|
|Hamza Saeed|       0.4|               18|
+-----------+----------+-----------------+

### Rename header

In [21]:
up_data=after_drop.withColumnRenamed('Name','Full Name')

In [23]:
up_data.show()

+-----------+----------+-----------------+
|  Full Name|Experience|Age after 2 years|
+-----------+----------+-----------------+
|   Dr.Tariq|      25.0|               52|
| Umair khan|       1.0|               25|
|Farooq Niaz|       1.0|               27|
| Atta ullah|       1.0|               26|
|Nasir Jamal|       9.0|               36|
|      Bilal|       5.0|               38|
|Hamza Saeed|       0.4|               18|
+-----------+----------+-----------------+

### Congratulations you have completed basics of pyspark! Great job!