In [1]:
import pyspark
import pandas as pd

In [2]:
df=pd.read_excel(r'C:\Users\Dell\Desktop\kkkkkk.xlsx')

In [3]:
df

        Name   Age
0       Umair   23
1       Ahmad    9
2       Nasir   34
3       jamal   33
4       Bilal   36
5    Abdullah   18
6  Atta ullah   24
7      Farooq   25
8     Shehzad   27

In [4]:
from pyspark.sql import SparkSession
#It provides API's ,sql context and Hivecontext etc.

In [5]:
spark=SparkSession.builder.appName('Practise').getOrCreate()
#building a spark session with name and storing that in a variable spark.

In [6]:
spark
#On a local we are on single cluster, for multiple clusters we need cloud.

In [7]:
#Sparks Does not support the excel formate so we will use pandas to handle.
data_=pd.read_excel(r'C:\Users\Dell\Desktop\kkkkkk.xlsx')

In [8]:
df_spark = spark.createDataFrame(data_)

In [9]:
df_spark.collect()

[Row(Name ='Umair', Age=23),
 Row(Name ='Ahmad', Age=9),
 Row(Name ='Nasir', Age=34),
 Row(Name ='jamal', Age=33),
 Row(Name ='Bilal', Age=36),
 Row(Name ='Abdullah', Age=18),
 Row(Name ='Atta ullah', Age=24),
 Row(Name ='Farooq', Age=25),
 Row(Name ='Shehzad', Age=27)]

In [10]:
df_spark.show()

+----------+---+
|     Name |Age|
+----------+---+
|     Umair| 23|
|     Ahmad|  9|
|     Nasir| 34|
|     jamal| 33|
|     Bilal| 36|
|  Abdullah| 18|
|Atta ullah| 24|
|    Farooq| 25|
|   Shehzad| 27|
+----------+---+

In [11]:
#For CSV we can use[ spark.read.option('header','true').csv('path//').show() ]

In [12]:
type(df_spark) #checking type of df_spark

pyspark.sql.dataframe.DataFrame

In [13]:
df_spark.head(3)

[Row(Name ='Umair', Age=23),
 Row(Name ='Ahmad', Age=9),
 Row(Name ='Nasir', Age=34)]

In [14]:
df_spark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: long (nullable = true)